<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center">
  <h1>Edit task <%= @task.title %></h1>
  <%= link_to "Back to task", task_path, class: "btn btn-primary"%>
  </div>

  <%= form_with model: @task do |f| %>
  <div class="my-3">
    <%= f.label :title, class: "control-label fw-bold"%>
    <%= f.text_field :title, placeholder: @task.title, class: "form-control" %>
  </div>
  <div class="my-3">
    <%= f.label :details, class: "control-label fw-bold" %>
    <%= f.text_field :details, placeholder: @task.details, class: "form-control" %>
  </div>
  <div class="my-3">
    <%= f.check_box :completed %>
    <%= f.label "Completed" %>
  </div>
    <div class="my-3">
      <%= f.submit(class: "btn btn-secondary") %>
    </div>
  <% end %>
</div>
